# Compiled source files
*.o
*.so
*.pyc
setup_env.csh
setup_env.sh
*.swp
*.orig
*.rstx
*.save
setup.csh
setup.sh
.__afs*
lib/*
build/*
.cache
.coverage
.pytest_cache*
setup_rogue.*
bld-dir/*
/buildroot-2019.08-x86_64
/linuxRT-x86_64
/rhel6-x86_64
/rhel7-x86_64
