sudo: false

language: python

python:
  - 3.6

before_install:
  - export CPLUS_INCLUDE_PATH=$PY_PATH/include/python3.6m
  - export LD_LIBRARY_PATH=$TRAVIS_BUILD_DIR/packages/boost_1_64_0/stage/lib:$PY_PATH/lib:$LD_LIBRARY_PATH
  - export BOOST_ROOT=$TRAVIS_BUILD_DIR/packages/boost_1_64_0
  - export PYTHON_LIBRARIES=$PY_PATH/lib/python3.6
  - export PYTHON_INCLUDE_DIRS=$PY_PATH/include

install:
  - pip install -r requirements.txt
  - cd packages
  - sudo wget -O boost_1_64_0.tar.gz http://sourceforge.net/projects/boost/files/boost/1.64.0/boost_1_64_0.tar.gz/download
  - sudo tar xzf boost_1_64_0.tar.gz
  - cd boost_1_64_0/
  - sudo ./bootstrap.sh
  - sudo ./b2
  - cd ../..
  - git submodule update --init --recursive
  - mkdir build; cd build
  - cmake ..
  - make
  - cd ..

before_script:
  - source setup_rogue.sh

script:
  - python3 tests/test.py

cache:
  directories:
    - packages

after_success:
  - python3 -V

env:
  - PY_PATH=/home/travis/virtualenv/python3.6.3
