sudo: false

language: python

python:
  - 3.6

install:
  - ls /home/travis/virtualenv/python3.6.3/
  - ls /home/travis/virtualenv/python3.6.3/lib
  - ls /home/travis/virtualenv/python3.6.3/include
  - which python3
  - python3 -V
  - cd packages
  - sudo wget -O boost_1_64_0.tar.gz http://sourceforge.net/projects/boost/files/boost/1.64.0/boost_1_64_0.tar.gz/download
  - sudo tar xzf boost_1_64_0.tar.gz
  - cd boost_1_64_0/
  - sudo ./bootstrap.sh --prefix=/usr/local --with-python=python3
  - sudo ./b2
  - ls stage/lib
  - sudo ./b2 install -d0
  - cd ../..
  - git submodule update --init --recursive
  - mkdir build; cd build
  - cmake .. -DPYTHON_LIBRARY=$PY_PATH/lib -DPYTHON_INCLUDE_DIR=$PY_PATH/include
  # - make
  # - cd ..
  # - source setup_rogue.sh

script:
  - pwd

cache:
  directories:
    - packages

after_success:
  - python3 -V
  # - python3 -c "import pyrogue"

env:
  - PY_PATH=/home/travis/virtualenv/python3.6.3