sudo: false

language: python

python:
  - 3.6

install:
  - sudo apt-get install libbz2-dev
  - cd packages
  - sudo wget -O boost_1_64_0.tar.gz http://sourceforge.net/projects/boost/files/boost/1.64.0/boost_1_64_0.tar.gz/download
  - sudo tar xzf boost_1_64_0.tar.gz
  - cd boost_1_64_0/
  - sudo ./bootstrap.sh --prefix=/usr/local --with-python=python3
  - sudo ./b2
  - ls stage/lib
  - sudo ./b2 install -d0
  - cd ../..
  - git submodule update --init --recursive
  - mkdir build; cd build
  - cmake ..
  - make
  - cd ..
  - source setup_rogue.sh

cache:
  directories:
    - packages

after_success:
  - python3 -V
  - python3 -c "import pyrogue"