# These commands are used for CI, documentation, and local development only
# These are not included in the deployment package
PyYAML
parse
click
coverage
codecov
pytest>=3.6
pytest-cov
pytest-xdist
sphinx
sphinx_rtd_theme
sphinxcontrib-napoleon
sphinx-copybutton
sphinx-autodoc-typehints
breathe
pyzmq
p4p
softioc
sqlalchemy
pyserial
numpy
flake8
cpplint
gitpython
pygithub
pydm
matplotlib
hwcounter; platform_system == "Linux" and platform_machine == "x86_64"
